body {
  padding-bottom: 5rem;
  background-color: rgba(251, 209, 209, 0.506);
  padding-right:5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
main{
 max-width:100%;
}

.chat-form {
  background: rgba(255, 3, 3, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}
.chat-form input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;

  outline: none;
}
.chat-form input[type="text"]{
  height:2rem;
}
.chat-form input[type="button"] {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
  height: 2rem;
}

.display {
  list-style-type: none;
  margin: 0;
  padding: 0;

  width: 100%;
}
.display li {
  padding: 0.5rem 1rem;
}

.display > li:nth-child(odd) {
  background: #efefef;
}


@media (max-width: 720px) {
  body {
    background-color: wheat;
  }
  .chat-form {
    height: 10rem;
    flex-direction: column;
    gap:2px;
    justify-content: center;
    align-items: center;
    
  }

  .server-info{
    margin:0;
    padding:0;
    font-size:20px;
  }
  .chat-form input{
    font-size:20px;
  }
  .chat-form input[type="text"] {
    width: 90%;
    height: 2.5rem;
  }
}
